@import '../Common/variables';
#about {
    background: white;
    width: 100%;
    margin: 0px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

    .comienzo {
        background-size: contain;
        display: block;
        padding: 40px 15px 30px;
        position: relative;
        text-align: center;
        width: 100%;
        h3 {
            font-family: $titulo;
            font-size: 35px;
            font-weight: 500;
            line-height: 1.2;
            margin: 0 0 20px 0;
            padding: 0;
            text-align: center;
        }
        p {
            font-family: $parrafo;
            font-size: 15px;
            text-align: center;
        }
    }
    .img {
        img {
            width: 100%;
            margin: auto;
            display: flex;
            justify-content: center;
        }
    }
}

.cards {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}
.cards-mini {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    .content {
        display: flex;
        flex-direction: row;

        .circulo {
            display: flex;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: white;
            border: 2px solid blue;
            margin-top: 10px;
            span {
                text-align: center;
                padding: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                .fa {
                    color: $abouticonos;
                    text-align: center;
                    padding: 5px;
                }
            }
        }
        .text-circulo {
            margin-left: 10px;
            h3 {
                font-family: $titulo;
                text-align: left;
                padding: 0px;
            }
            p {
                font-family: $parrafo;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
.final {
    h4 {
        font-size: 18px;
        font-family: $titulo;
        text-align: left;
    }
    p {
        font-size: 15px;
        text-align: left;
        font-family: $parrafo;
    }
}
