body{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.contenedor-header{
    width: 100%;
    height: 50px;
    z-index: 1000000;
    position: fixed;
    background: #ffff;
    font-size: 12px;
    margin: auto;
    padding: 20px 0px;/*cambiar medidas*/
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
} 

/*--------------Estilos generales del menu------------------*/
.contenedor-menu{
   
    float: right;
    justify-content: flex-end;
}
.menu{
    list-style: none;
    margin: 0px;

}
nav li{
    line-height: 1.5rem;
    position: relative;
}
nav li ul{
    position: absolute;
}

.menu li a{
    text-decoration: none;
    color: $menutexto;
    display: block;
    padding: 0 1.5em;
}

.menu li a:hover{
    color: $azulmedio;
    background: #fff;
    transition: .5s;
}

/*primer nivel*/
.menu {
    background: #fff;
    color: $menutexto;
    display: table;
    width: 100%;
   
}
.menu >li /*trabajo asi solo con el ul hijo de nav, es decir que el selector > solo trabaja con hijos directos de */{
float: left;
}

/*segundo nivel*/
nav li li{
    color: $menutexto;
    background: #fff;
    width: 115px;
    height: 30px;
    padding: 0px;
    max-height: 0px;
    transition: all .8s;
    overflow: hidden;
}
nav li:hover > ul>li{
 max-height: 15000px;
 overflow: visible;
}

.menu >li>ul{
    top:100%;
    left: -40%;
}

/*tercer nivel*/

.menu ul ul{
left: 65%;
top: 0%;

}

/** Acomodando el logo y el menu de navegacion *************/
.logo-header{
    width: 50%;
    text-align: center;
    float: left;
    padding-left: 15px;
}
.logo-header img{
    max-height: 30px;
    padding: 5px;
    margin: auto
}
.logo-header >input{
    display: none;
}
.logo-header> label{
    display: none;
}

#check:checked ~ .menu {
    display: block;
    width: 60%;
}