/*
El hero se ve pisado por el header por lo que le faltaria
cerca de 80px de margin-top en mobile.
*/
#hero{

    background-color: $herofondoazul;
    background-size: contain;
    font-size: 22px;
    padding: 30px 10px;
    position: relative;
    width: 100%;

    @include desktop{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding: 150px 0 120px 0;
    }
    
    img{
        display: block;
        margin: 0 auto;
        width: 300px;

        @include desktop{
            width: 500px;
        }
    }
    
    div{
        
        h2{
        color: $blanco;
        font-family: $titulo;
        font-weight: 700;
        text-align: center;

        @include desktop{
            font-size: 42px;
            text-align: left;
        }
    }

        span{
            display: block;
            color: $heroazul;
            text-decoration: underline;
            width: 100%;
        }

        .boton{
            @include desktop{
                display: inline !important;
                margin: 0 15px 20px 15px;
            }
        }

        .b-azul{
            @include desktop{
                &:hover{
                    background-color: transparent;
                    border-color: $blanco;
                }
            }
        }
        
        .b-blanco{@include desktop{
            &:hover{
                background-color: $azulmedio;
                border-color: $azulmedio;
            }
        }
    }

        @include desktop{
            margin: 0 auto;
        }
    }    
}
