/*
    Quedo pendiente el hover de esta seccion.
*/
#portfolio{
    padding: 0 15px;
    position: relative;
    width: 100%;    

    .portfolio-filters{
        list-style: none;
        margin: 5px 0 35px 0;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        text-align: center;
        width: 100%;

        .filters-boton{
            background-color: $portfolioboton;
            border-radius: $bordemedio;
            color: $portfoliotexto;            
            cursor: pointer;
            display: inline-block;
            font-size: 12px;
            line-height: 20px;
            margin: 15px 0;
            padding: 6px 20px;

            @include desktop{
                transition: all 0.3s ease-in-out;                

                &:hover{
                    background-color: $portfoliobotonhover;
                    color: $blanco;                
                }
            }
        }

        #all{
            background-color: $portfoliobotonhover;
            color: $blanco;   
        }
    }

//La clase del contenedor de las tarjetas
    .portolio-allcards{
        @include desktop{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
//La clase de cada una de las tarjetas
        .portfolio-card{
            border-radius: $bordesuave;
            height: auto;
            margin-bottom: 30px;
            max-height: 250px;
            overflow: hidden;
            position: relative;
            width: 100%;

            @include desktop{
                height: 200px;
                max-height: 250px;
                max-width: 30%;
                transition: all 0.3s ease-in-out;
                width: 350px;
            
                &:hover .overlay {
                opacity: .6;
            }  
        }
 
//La case de cada imagen sola
        .portfolio-img{
            height: 100%;
            object-fit: cover;
            //object-position: -20% 0;
            width: 100%;
        } 

        .overlay{
            background-color: $azuloscuro;
            height:100%;
            left: 0;
            opacity:0;
            position: absolute;
            top: 0;
            width:100%;
        }
        
//La clase donde está el texto
        .portfolio-info{
            bottom: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;  
            
            @include desktop{
                &:hover{
                    opacity: 1;                    
                    transition: 0.2s linear;
            }
        }            

            h4{
                font-size: 20px;
                font-weight: 700; 
                line-height: 1px;
                margin-bottom: 14px;
                padding-bottom: 0;
   
                a{
                    color: $blanco;
                    text-decoration: none;
                    
                    @include desktop{
                        &:hover{
                        color: $azulbrillante;
                        transition: 0.2s linear;
                    }
                }
            }            

                @include desktop{
                    &:hover{
                        color: $azulbrillante;
                    }
                }
            }

            p{
                color: $azulclaro;
                font-size: 14px;
                font-weight: 500;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }

            .portfolio-preview{
                background: $azulmedio;
                border-radius: 50%;
                display: inline-block;
                height: 36px;
                line-height: 1;
                margin: 10px 4px 0 4px;
                text-align: center;
                width: 36px;
                
                @include desktop{
                    &:hover{
                        background: $azulbrillante;
                    }
                }

                .fas{
                    color: $blanco;
                    font-size: 16px;
                    padding-top: 9px;
                }
            }
        }
    }
}