#services{

    header{
        p{
            color: $grisazul;
            line-height: 1.5;
        }
    }

    #services-cards{
        width: 100%;

        @include desktop{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .services-card{
            background-color: $blanco;
            box-shadow: $sombracard;
            border-radius: $bordesuave;
            margin: 0 10px 40px 10px;
            overflow: hidden;
            padding: 25px 15px 40px 25px;
            position: relative;            

            @include desktop{
                max-width: 40%;
                transition: all 0.3s ease-in-out;
                width: 500px;

                &:hover{
                    animation: bounce 1s;
                }
            }

            .icon{
                left: -10px;
                position: absolute;
                top: calc(50% - 40px);

                .fas{
                    font-size: 60px;                    
                }

                .fa-chart-line{
                    color: $rosa;                    
                }

                .fa-book-open{
                    color: $naranja;
                }

                .fa-file-alt{
                    color: $turquesa;
                }

                .fa-tachometer-alt{
                    color: $verde;
                }

                .fa-globe{
                    color: $amarillo;
                }

                .fa-clock{
                    color: $azul;
                }
            }

            h4{
                font-family: $titulo;
                font-size: 18px;
                font-weight: 700;
                line-height: 1.2;
                margin-left: 40px;
                text-align: left;                

                a{
                    color: $servicesh4;
                    text-decoration: none;
                    transition: 0.5s;
                }                
            }

            p{
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                margin-left: 40px;                
                text-align: left;
            }
        }
    }
}